// === HEADER === // (AD)
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 99;
	background-color: $color-zenit;
	border-bottom: rem(1) solid $white;

	// === HEADER CONTAINER === //
	&__container {
	}

	// === HEADER BODY === //
	&__body {
		position: relative;
		@media (max-width: $tablet) {
			height: rem(80);
		}
	}

	// === HEADER LOGO === //
	&__logo {
		position: absolute;
		left: 20px;
		@include adaptiveValue("width", 212, 160, 1600, 992, 1);
		@include adaptiveValue("height", 104, 79, 1600, 992, 1);
		@include adaptiveValue("bottom", 30, 40, 1600, 992, 1);
		z-index: 3;
		@media (max-width: $tablet) {
			bottom: 10px;
			left: 0;
			width: rem(123);
			height: rem(60);
		}
	}
	&._header-scroll &__logo {
		bottom: 10px;
		width: rem(128);
		height: rem(60);
		transition: all 0.5s ease 0s;
	}

	&__logo-link {
	}

	// === HEADER TOP === //
	&__top {
		@media (max-width: $tablet) {
			display: none;
		}
	}

	// === HEADER ICONS === //
	&__icons {
		position: relative;
		z-index: 2;
		@media (max-width: $tablet) {
			width: 100%;
			background-color: $mainColor;
		}
	}

	&__icons-list {
		display: flex;
		align-items: center;
		justify-content: end;
		height: rem(80);
		width: 100%;
		@media (max-width: $tablet) {
			justify-content: space-between;
		}
	}

	&._header-scroll &__icons-list {
		height: 0px;
		transition: all 0.8s ease 0s;
	}

	&__icons-item {
		// width: rem(50);
		// height: rem(50);
		// margin: rem(15);
		@include adaptiveValue("margin", 15, 10, 800, 400, 1);
		@include adaptiveValue("width", 50, 40, 800, 400, 1);
		@include adaptiveValue("height", 50, 40, 800, 400, 1);
		cursor: pointer;
		z-index: 5;
		@media (any-hover: hover) {
			&:hover {
				background-color: $color-zenit;
				transition: all 0.8s ease 0s;
				transform: scale(1.6);
			}
		}
	}
	&._header-scroll &__icons-item {
		transform: scale(0);
		transition: all 0.8s ease 0s;
	}

	&__icons-item img {
		width: rem(50);
		height: rem(50);
	}
	&__icons-link {
	}

	// === HEADER MENU BURGER === //
	&__menu-burger {
		@media (max-width: $tablet) {
			position: absolute;
			right: rem(20);
			top: rem(30);
		}
	}

	// === HEADER MENU === //
	&__menu {
		@media (max-width: $tablet) {
			position: fixed;
			top: -200%;
			left: 0;
			width: 100%;
			height: 100%;
			transition: all 0.8s ease 0s;
			background-color: $color-zenit;
			padding: 80px 0px 0px 0px;
			.menu-open & {
				top: 0;
				height: 100%;
				overflow: auto;
			}
		}
	}

	&__menu-list {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		position: relative;
		z-index: 2;
		@media (max-width: $tablet) {
			background-color: $color-zenit;
			display: block;
		}
	}

	&__menu-item {
		@include adaptiveValue("padding-left", 20, 15, 1600, 992, 1);
		@include adaptiveValue("padding-right", 20, 15, 1600, 992, 1);
		@media (any-hover: hover) {
			&:hover {
				background-color: $mainColor;
				transition: all 0.8s ease 0s;
			}
		}
	}

	&._header-scroll &__menu-item {
		@media (any-hover: hover) {
			&:hover {
				background-color: $color-zenit;
				transition: all 0.8s ease 0s;
			}
		}
	}

	&__menu-link {
		color: $white;
		text-transform: uppercase;
		font-weight: 500;
		line-height: rem(80);
		@include adaptiveValue("font-size", 16, 15, 1600, 992, 1);
		@media (max-width: $tablet) {
			font-size: 24px;
			font-weight: 700;
		}
	}

	&._header-show {
	}
}

// === HEADER::BEFORE === //
.header::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
	background-color: $mainColor;
	z-index: 2;
	@media (max-width: $tablet) {
		height: 100%;
	}
}
._header-scroll.header::before {
	background-color: $mainColor;
	transition: all 0.8s ease 0s;
	height: 100%;
}

// === ICON MENU BURGER === //
.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		display: block;
		//position: relative;
		width: rem(30);
		height: rem(20);
		cursor: pointer;
		z-index: 3;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: $white;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
