// === HEADER === // (AD)
.header {
	//position: relative;
	//width: 100%;

	&._header-scroll .menu__logo {
		//opacity: 1;
		//transition: all 0.8s ease 0s;
	}
	&._header-scroll &__logo {
		//opacity: 0;
	}

	&._header-scroll &__top {
		//display: none;
		//transform: translateY(-80px);
		//overflow: hidden;
		//background-color: #f1f1f1;
		//padding: 90px 10px; /* Large padding which will shrink on scroll (using JS) */
		//transition: 0.5s; /* Adds a transition effect when the padding is decreased */
		//transition: all 0.8s ease 0s;
	}

	&._header-show {
	}

	&__body {
		//position: relative;
	}

	// === HEADER TOP === //

	&__top {
		//display: flex;
		//align-items: center;
		//justify-content: space-between;
		//padding: rem(20) 0px;
		// @media (max-width: rem(1050)) {
		// 	display: none;
		// }
	}

	// === HEADER LOGO === //
	&__logo {
		//height: rem(80);
		//width: rem(170);
	}

	// === HEADER ICONS === //
	&__icons {
	}

	&__icons-list {
		// display: flex;
		// align-items: center;
		// justify-content: end;
		// gap: rem(10);
		// @include adaptiveValue("gap", 15, 10, 992, 600, 1);
		// @media (max-width: rem(600)) {
		// 	justify-content: space-between;
		// 	padding-left: rem(20);
		// 	padding-right: rem(20);
		// 	height: rem(80);
		// 	background-color: $mainColor;
		// 	border-top: rem(1) solid $color-zenit;
		// }
	}

	&__icons-item img {
		// height: rem(50);
		// width: rem(50);
		// cursor: pointer;
	}

	&__icons-link {
	}

	// === HEADER MENU === //
	&__menu {
		// width: 100%;
		// background: $color-zenit;
		// color: $white;
		// z-index: 50;
		// box-shadow: $shadow-1;
		// @media (max-width: rem(1050)) {
		// 	position: fixed;
		// 	top: 0;
		// 	left: 0;
		// 	right: 0;
		// 	width: 100%;
		// }
	}
}

// === HEADER === // (AD)
.header {
	top: 0;
	width: 100%;
	z-index: 99;
	//transition: all 0.8s ease 0s;
	overflow: hidden;
	border-bottom: rem(1) solid $white;
	box-shadow: $shadow-1;
	// === HEADER BODY === //
	&__body {
	}

	// === HEADER CONTAINER === //
	&__container {
		position: relative;
		// display: grid;
		// grid-template-columns: 1fr;
		// grid-template-rows: auto;
	}

	// === HEADER LOGO === //
	&__logo {
		position: absolute;
		bottom: 30px;
		left: 0;
		width: rem(212);
		height: rem(100);
	}
	&._header-scroll &__logo {
		bottom: 10px;
		width: rem(128);
		height: rem(60);
		transition: all 0.5s ease 0s;
	}

	&__logo-link {
	}

	// === HEADER TOP === //
	&__top {
		background-color: $mainColor;
		//border-bottom: rem(1) solid $white;
	}

	// === HEADER ICONS === //
	&__icons {
	}

	&__icons-list {
		display: flex;
		align-items: center;
		justify-content: end;
	}

	&__icons-item {
		width: rem(50);
		height: rem(50);
		margin: rem(15);
		//border-radius: rem(3);
		cursor: pointer;
		@media (any-hover: hover) {
			&:hover {
				background-color: $color-zenit;
				transition: all 0.8s ease 0s;
				transform: scale(1.6);
			}
		}
	}
	&__icons-item img {
		width: rem(50);
		height: rem(50);
	}

	&__icons-link {
		//display: inline-block;
	}

	// === HEADER MENU BURGER === //
	&__menu-burger {
	}

	// === HEADER MENU === //
	&__menu {
		background-color: $color-zenit;
	}

	&._header-scroll &__menu {
		overflow: hidden;
		border-bottom: rem(1) solid $white;
		background-color: $mainColor;
		box-shadow: $shadow-1;
	}

	&__menu-list {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	&__menu-item {
		color: $white;
		cursor: pointer;
		@media (any-hover: hover) {
			&:hover {
				background-color: $mainColor;
				transition: all 0.8s ease 0s;
			}
		}
	}

	&._header-scroll &__menu-item {
		@media (any-hover: hover) {
			&:hover {
				//border-bottom: rem(1) solid $white;
				background-color: $color-zenit;
				transition: all 0.8s ease 0s;
			}
		}
	}

	&__menu-link {
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 500;
		line-height: rem(80);
		padding: rem(30) rem(35);

		//line-height: 80px;

		@media (max-width: $tablet) {
			font-size: 24px;
			font-weight: 700;
		}
	}

	&._header-scroll &__top {
		//display: none;
		//transform: translateY(-80px);
		//overflow: hidden;
		//background-color: #f1f1f1;
		//padding: 90px 10px; /* Large padding which will shrink on scroll (using JS) */
		//transition: 0.5s; /* Adds a transition effect when the padding is decreased */
		//transition: all 0.8s ease 0s;
	}

	&._header-show {
	}
}
// === ICON MENU BURGER === //
.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: $white;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
