//====================================================================================================
.head-slider__section {
	margin-top: -20px;
}
.calendar-slider__section {
	//position: relative;
}
.banner__section {
}

.publication-selector__section {
	padding-bottom: rem(50);
}
.video-slider__section {
	//-color: $color-zenit;
	padding-bottom: rem(50);
}

.leaders-slider__section {
	background-color: $white;
	padding-bottom: rem(50);
}
.table-standing__section {
	//-color: $color-zenit;
	padding-bottom: rem(50);
}
//====================================================================================================
