.banner-slider-vert {
	height: rem(400);

	//padding: 0px 0 0px 0;

	//margin-top: rem(20);
	// @media (max-width: rem(1800)) {
	// 	height: rem(620);
	// 	width: rem(600);
	// }
	// === BOX === //
	&__box {
		//position: relative;
		overflow: hidden;
	}

	// === WRAPPER === //
	&__wrapper {
	}

	// === ITEM === //
	&__item {
		//position: relative;
		//width: auto;
		border: rem(1) solid $color-zenit;
		border-radius: rem(3);
		//box-shadow: $shadow-1;
	}

	// === IMAGE === //
	&__image {
		position: relative;
		padding: 0px 0px 58% 0px;
		overflow: hidden;
		//width: auto;
		//height: rem(190);
		// @media (max-width: rem(1800)) {
		// 	height: rem(300);
		// }
	}
	// === NAVIGATION & PAGINATION === //

	&__navigation {
	}

	&__nav-prev {
	}

	&__nav-next {
	}
	&__pagination {
	}
	.swiper-pagination {
		position: relative;
		margin-top: rem(30);
	}

	.swiper-pagination-bullet {
		width: rem(20);
		height: rem(20);
		line-height: rem(20);
		font-size: rem(30);
		background-color: $color-zenit;
		border: rem(1) solid $white;
	}
	// === SLIDE-ACTIVE === //
	.swiper-slide-active {
		//box-shadow: $shadow-1;
	}
	.swiper-slide-active &__slide-label {
		//opacity: 1;
	}
}
