.banner-slider {
	// === BOX === //
	&__box {
		position: relative;
		@include adaptiveValue("margin-top", 20, 10, 1050, 600, 1);
		//z-index: 3;
		overflow: hidden;
	}

	// === WRAPPER === //
	&__wrapper {
	}

	// === ITEM === //
	&__item {
		width: 100%;
		border: rem(1) solid $color-zenit;
		border-radius: rem(3);
	}

	// === IMAGE === //
	&__image {
		position: relative;
		padding: 0px 0px 58% 0px;
		overflow: hidden;
	}
	// === NAVIGATION & PAGINATION === //

	&__navigation {
	}

	&__nav-prev {
	}

	&__nav-next {
	}
	&__pagination {
	}
	.swiper-pagination {
		position: relative;
		@include adaptiveValue("margin-top", 30, 20, 992, 600, 1);
	}

	.swiper-pagination-bullet {
		@include adaptiveValue("width", 20, 14, 992, 600, 1);
		@include adaptiveValue("height", 20, 14, 992, 600, 1);
		@include adaptiveValue("line-height", 20, 14, 992, 600, 1);
		background-color: $color-zenit;
		border: rem(1) solid $white;
	}
	// === SLIDE-ACTIVE === //
	.swiper-slide-active {
		//box-shadow: $shadow-1;
	}
}
