// === LEADERS BLOG SLIDER === //
.leaders-slider {
	&__row {
		display: grid;
		grid-template-columns: 1fr rem(380);
		gap: rem(20);
	}
	&__box {
		position: relative;
		max-width: rem(1170);
	}
}

.blog-slider {
	width: 100%;
	position: relative;
	//max-width: 800px;
	margin: auto;
	background-color: $white;
	//box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
	text-transform: uppercase;
	border: 1px solid $color-zenit;
	padding: 20px;
	border-radius: 5px;
	//height: 400px;
	height: auto;
	transition: all 0.3s;
	@media (any-hover: hover) {
		&:hover {
			box-shadow: $shadow-1;
		}
	}
	@media screen and (max-width: 992px) {
		max-width: 680px;
		height: 400px;
	}

	@media screen and (max-width: 768px) {
		min-height: 500px;
		height: auto;
		margin: 180px auto;
	}

	@media screen and (max-height: 500px) and (min-width: 992px) {
		height: 350px;
	}

	&__body {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	&__item {
		display: flex;
		align-items: center;

		@media screen and (max-width: 768px) {
			flex-direction: column;
		}

		&.swiper-slide-active {
			.blog-slider__img {
				img {
					opacity: 1;
					transition-delay: 0.3s;
				}
			}
			.blog-slider__content {
				> * {
					opacity: 1;
					transform: none;

					@for $i from 0 to 15 {
						&:nth-child(#{$i + 1}) {
							transition-delay: $i * 0.1 + 0.3s;
						}
					}
				}
			}
		}
	}

	&__img {
		// width: 40%;
		width: 300px;
		flex-shrink: 0;
		height: 360px;
		border-radius: 5px;
		transform: translateX(-80px);
		overflow: hidden;

		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			//background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
			border-radius: 20px;
			opacity: 0.8;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top center;
			display: block;
			opacity: 0;
			border-radius: 5px;
			transition: all 0.3s;
		}

		@media screen and (max-width: 992px) {
			// width: 45%;
		}
		@media screen and (max-width: 768px) {
			transform: translateY(-50%);
			width: 90%;
		}
		@media screen and (max-width: 576px) {
			width: 95%;
		}
		@media screen and (max-height: 500px) and (min-width: 992px) {
			height: 270px;
		}
	}

	&__content {
		// width: 60%;
		padding-right: 25px;
		@media screen and (max-width: 992px) {
			// width: 55%;
		}
		@media screen and (max-width: 768px) {
			margin-top: -80px;
			text-align: center;
			padding: 0 30px;
		}

		@media screen and (max-width: 576px) {
			padding: 0;
		}
		> * {
			opacity: 0;
			transform: translateY(25px);
			transition: all 0.4s;
		}
	}

	&__position {
		color: $color-zenit;
		margin-bottom: 10px;
		display: block;
		font-weight: 500;
	}

	&__title {
		font-size: 24px;
		font-weight: 700;
		color: $mainColor;
		margin-bottom: 20px;
	}

	&__text {
		color: $mainColor;
		margin-bottom: 10px;
		font-size: 30px;
		line-height: 40px;
		text-align: center;
		padding: 0px 8px 0px 0px;
	}

	&__digit {
		min-width: 205px;
		color: $mainColor;
		margin-top: 10px;
		font-size: 100px;
		font-weight: 900;
		line-height: 100px;
	}
	&__bg-logo {
		position: absolute;
		top: rem(20);
		right: rem(20);
		width: 50%;
	}

	&__button {
		display: inline-flex;
		background-color: $color-zenit;
		padding: 25px 35px;
		border-radius: 5px;
		min-width: 205px;
		color: $white;
		text-decoration: none;
		font-weight: 500;
		justify-content: center;
		text-align: center;
		letter-spacing: 1px;
		@media screen and (max-width: 576px) {
			width: 100%;
		}
	}
	.swiper-container-horizontal > .swiper-pagination-bullets,
	.swiper-pagination-custom,
	.swiper-pagination-fraction {
		bottom: 10px;
		left: 0;
		width: 100%;
	}
	&__pagination {
		position: absolute;
		z-index: 21;
		right: 20px;
		width: 11px !important;
		text-align: center;
		left: auto !important;
		top: 50%;
		bottom: auto !important;
		transform: translateY(-50%);
		@media screen and (max-width: 768px) {
			transform: translateX(-50%);
			left: 50% !important;
			top: 205px;
			width: 100% !important;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&.swiper-pagination-bullets .swiper-pagination-bullet {
			margin: 8px 0;
			@media screen and (max-width: 768px) {
				margin: 0 5px;
			}
		}

		.swiper-pagination-bullet {
			width: 12px;
			height: 12px;
			display: block;
			border-radius: 10px;
			background: $mainColor;
			opacity: 0.2;
			transition: all 0.3s;
			&-active {
				opacity: 1;
				background: $color-zenit;
				height: 30px;
				//box-shadow: $shadow-1;

				@media screen and (max-width: 768px) {
					height: 12px;
					width: 30px;
				}
			}
		}
	}
}
