.calendar-slider {
	overflow: hidden;
	//height: rem(300);

	&__box {
		position: relative;
	}
	&__timer {
		position: absolute;
		top: -140px;
		//left: 0;
		//display: flex;
		//gap: rem(20);
		left: calc(50% - 190px);
	}

	&__btn {
		position: absolute;
		//top: -105px;
		//right: 0;
		width: rem(378);
		color: $white;
		background-color: $mainColor;
		border: rem(1) solid $white;

		bottom: -70px;
		left: calc(50% - 190px);

		@media (any-hover: hover) {
			&:hover {
				background-color: $cle_red;
				transform: scale(1.2);
				transition: transform 0.5s ease 0s;
			}
		}
	}
	// .calendar-slider__wrapper
	&__wrapper {
	}

	// .calendar-slider__item

	&__item {
	}

	// .calendar-slider__pagination

	&__pagination {
	}

	// .calendar-slider__navigation

	&__navigation {
	}
	// .calendar-slider__nav-prev
	&__nav-prev {
	}

	// .calendar-slider__nav-next
	&__nav-next {
	}

	.swiper-pagination {
		position: relative;
		margin-top: rem(30);
	}

	.swiper-pagination-bullet {
		width: rem(20);
		height: rem(20);
		line-height: rem(20);
		font-size: rem(30);
		background-color: $white;
		border: rem(1) solid $color-zenit;
	}
}
.swiper-wrapper {
}
.swiper-slide {
}

.swiper-pagination {
}
