// === CALENDAR SLIDER === // (AD)

.calendar-slider {
	overflow: hidden;
	&__box {
		position: relative;
	}

	&__btn {
		position: absolute;
		width: rem(378);
		color: $white;
		background-color: $mainColor;
		border: rem(1) solid $white;
		bottom: -70px;
		left: calc(50% - 190px);
		@media (max-width: rem(650)) {
			bottom: -80px;
		}
		@media (max-width: rem(450)) {
			width: 100%;
			left: 0;
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: $cle_red;
				transform: scale(1.2);
				transition: transform 0.5s ease 0s;
			}
		}
	}
	// .calendar-slider__wrapper
	&__wrapper {
	}

	// .calendar-slider__item

	&__item {
	}

	// .calendar-slider__pagination

	&__pagination {
	}

	// .calendar-slider__navigation

	&__navigation {
	}
	// .calendar-slider__nav-prev
	&__nav-prev {
	}

	// .calendar-slider__nav-next
	&__nav-next {
	}

	.swiper-pagination {
		position: relative;
		margin-top: rem(30);
		@media (max-width: rem(650)) {
			display: none;
		}
	}

	.swiper-pagination-bullet {
		width: rem(20);
		height: rem(20);
		line-height: rem(20);
		background-color: $white;
		border: rem(1) solid $color-zenit;
	}
}
