// === CALENDAR SLIDER === // (AD)

.calendar-slider {
	overflow: hidden;

	// === CALENDAR SLIDER BOX === //
	&__box {
		position: relative;
	}
	// === CALENDAR SLIDER BTN === //
	&__btn {
		position: absolute;
		width: rem(378);
		color: $white;
		background-color: $mainColor;
		border: rem(1) solid $white;
		bottom: -70px;
		left: calc(50% - 190px);
		transition: transform all 0.5s ease 0s;
		@media (max-width: rem(650)) {
			bottom: -80px;
		}
		@media (max-width: rem(450)) {
			width: 100%;
			left: 0;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: $cle_red;
				transform: scale(1.2);
				transition: transform all 0.5s ease 0s;
			}
		}
	}
	// === CALENDAR SLIDER PARTNER === //
	&__partner {
		position: absolute;
		right: 0;
		@include adaptiveValue("top", -200, -90, 1600, 320, 1);
		@include adaptiveValue("width", 284, 80, 1600, 320, 1);
		@include adaptiveValue("height", 178, 50, 1600, 320, 1);
	}
	// === CALENDAR SLIDER WRAPPER === //
	&__wrapper {
	}
	// === CALENDAR SLIDER ITEM === //
	&__item {
		position: relative;
	}

	// === CALENDAR SLIDER NAVIGATION === //
	&__navigation {
	}
	&__nav-prev {
	}
	&__nav-next {
	}

	// === CALENDAR SLIDER PAGINATION === //
	&__pagination {
	}

	.swiper-pagination {
		position: relative;
		margin-top: rem(30);
		@media (max-width: rem(650)) {
			display: none;
		}
	}

	.swiper-pagination-bullet {
		width: rem(20);
		height: rem(20);
		line-height: rem(20);
		background-color: $white;
		border: rem(1) solid $color-zenit;
	}
}
