// === GAME CARD === //
.game-card {
	&__body {
		position: relative;
		min-width: rem(270);
		width: 100%;
		height: rem(300);
		border-radius: 3px;
		overflow: hidden;
		background: $white;
		border: 1px solid $color-zenit;
		transition: transform all 0.8s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				box-shadow: $shadow-1;
				transition: transform all 0.8s ease 0s;
			}
		}
		&:before {
			content: "";
			position: absolute;
			display: block;
			width: 100%;
			height: 0;
			background: $mainColor;
			transition: transform all 0.8s ease 0s;
			//background: linear-gradient(to bottom, $color-zenit, $white);
			transition: all 0.5s ease;
		}
		&:hover {
			/*%% Card on hover %%*/
			&:before {
				height: 50px;
				transition: transform all 0.8s ease 0s;
			}
			.game-card__social {
				margin-top: 40px;
				transition: transform all 0.8s ease 0s;
			}
			.game-card__team {
				//width: 60px;
				//height: 60px;
			}

			.game-card__time {
				color: $white;
				//color: $mainColor;
				transition: all 0.3s ease;
				transition: transform all 0.8s ease 0s;
			}
			.game-card__date,
			.game-card__months,
			.game-card__week,
			.game-card__months-1,
			.game-card__week-1 {
				color: $white;
			}
			.game-card__mini-logo {
				width: rem(40);
				height: rem(40);
				left: calc(50% - 20px);
				opacity: 0;
				transition: transform all 0.8s ease 0s;
			}

			.game-card__btn {
				background-color: $mainColor;
				//transform: scale(1.1);
				transition: transform all 0.8s ease 0s;
			}
		}
	}

	&__time {
		font-weight: 900;
		font-size: rem(32);
		text-align: center;
		position: absolute;
		top: 10px;
		right: 10px;
	}

	&__btn {
		display: inline-flex;
		background-color: $color-zenit;
		padding: 15px 30px;
		border-radius: 5px;
		min-width: 200px;
		color: $white;
		text-decoration: none;
		font-weight: 500;
		justify-content: center;
		text-align: center;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	// .game-card__team
	&__teams {
		display: flex;
		gap: rem(10);
		align-items: center;
		justify-content: center;
	}
	&__team-name {
		margin-top: rem(80);
		display: grid;
		grid-template-columns: 1fr rem(10) 1fr;
	}
	&__team {
		position: relative;
		width: 50px;
		height: 50px;
		overflow: hidden;
		transition: all 0.5s ease;
		border-radius: 3px;
		background: $white;
	}

	&__content {
		margin-top: rem(10);
		text-align: center;
		padding: 0 30px;
		color: $black_l;
		transition: margin-top 0.5s ease;
		span {
			font-size: 12px;
			letter-spacing: 1px;
			text-transform: uppercase;
			padding-top: 2px;
			line-height: 24px;
			color: $color-zenit;
			border-top: 1px solid $color-zenit;
		}
		p {
			margin: 4px 0;
			font-size: 12px;
			line-height: 14px;
			color: $black_l;
		}
	}
	// === TITLE === //
	&__title {
		margin-bottom: 0;
		font-size: rem(12);
		line-height: rem(14);
		text-transform: uppercase;
		font-weight: 500;
		text-align: center;
	}

	&__title-r {
		text-align: right;
	}
	&__title-l {
		text-align: left;
	}
	// === SCORE === //
	&__score {
		display: grid;
		grid-template-columns: 1fr rem(20) 1fr;
	}
	&__team-score {
		margin-bottom: 0;
		min-width: rem(56);
		font-size: 32px;
		line-height: 50px;
		text-transform: uppercase;
		font-weight: 900;
	}
	&__team-score-1 {
		margin-bottom: 0;
		font-size: 32px;
		line-height: 50px;
		text-transform: uppercase;
		font-weight: 900;
		text-align: center;
	}
	// === DATE === //
	&__date {
		position: absolute;
		top: 10px;
		left: 10px;
		display: flex;
		gap: rem(8);
		align-items: center;
	}

	// .game-card__day
	&__day {
		font-weight: 900;
		font-size: rem(32);
	}

	// .game-card__label
	&__label {
		text-align: left;
	}
	// .game-card__months
	&__months {
		text-transform: uppercase;
		font-size: rem(14);
		line-height: rem(18);
		color: $mainColor;
		letter-spacing: rem(1);
		font-weight: 700;
		@media (max-width: rem(350)) {
			display: none;
		}
	}
	&__months-1 {
		text-transform: uppercase;
		font-size: rem(14);
		color: $color-zenit;
		letter-spacing: rem(1);
		font-weight: 600;
		@media (min-width: rem(350)) {
			display: none;
		}
	}

	// .game-card__week
	&__week {
		text-transform: uppercase;
		font-size: rem(12);
		//color: $color-zenit;
		//letter-spacing: rem(1);
		//font-weight: 600;
		@media (max-width: rem(350)) {
			display: none;
		}
	}
	&__week-1 {
		text-transform: uppercase;
		font-size: rem(12);
		@media (min-width: rem(350)) {
			display: none;
		}
	}
}
