// === HEAD SLIDER === // (AD)
.head-slider {
	margin-top: rem(140);
	@include adaptiveValue("margin-bottom", 30, 20, 992, 600, 1);
	@media (max-width: $tablet) {
		margin-top: rem(55);
	}
	// === BOX === //
	&__box {
		position: relative;
		overflow: hidden;

		@media (max-width: rem(1050)) {
			//margin-top: rem(60);
			//@include adaptiveValue("margin-top", 60, 40, 1050, 600, 1);
		}
	}

	// === WRAPPER === //
	&__wrapper {
	}

	// === ITEM === //
	&__item {
		max-width: $tablet;
		border: rem(1) solid $white;
		border-radius: rem(3);
	}

	// === IMAGE === //
	&__image {
		position: relative;
		padding: 0px 0px 58% 0px;
		overflow: hidden;
	}
	// === SLIDE LABEL === //
	&__slide-label {
		position: absolute;
		text-transform: uppercase;
		color: $white;
		-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(1px);
		background-color: rgba(58, 58, 58, 0.4);
		border-radius: rem(3);
		text-align: end;
		@include adaptiveValue("bottom", 20, 8, 992, 600, 1);
		@include adaptiveValue("right", 20, 8, 992, 600, 1);
		@include adaptiveValue("padding", 20, 8, 992, 600, 1);
		opacity: 0;
	}

	&__slide-title {
		font-weight: 900;
		@include adaptiveValue("font-size", 40, 18, 992, 600, 1);
		@include adaptiveValue("line-height", 56, 24, 992, 600, 1);
		@include adaptiveValue("letter-spacing", 3, 2, 992, 600, 1);
	}
	&__slide-subtitle {
		font-weight: 600;
		@include adaptiveValue("font-size", 20, 13, 992, 600, 1);
		@include adaptiveValue("line-height", 30, 18, 992, 600, 1);
		@include adaptiveValue("letter-spacing", 2, 1.5, 992, 600, 1);
	}

	&__slide-text {
		font-weight: 500;
		@include adaptiveValue("font-size", 16, 11, 992, 600, 1);
		@include adaptiveValue("line-height", 20, 14, 992, 600, 1);
		@include adaptiveValue("letter-spacing", 2, 1.5, 992, 600, 1);
	}

	// === NAVIGATION & PAGINATION === //

	&__navigation {
	}

	&__nav-prev {
	}

	&__nav-next {
	}
	&__pagination {
	}
	.swiper-pagination {
		position: relative;
		@include adaptiveValue("margin-top", 30, 20, 992, 768, 1);
		@media (max-width: $mobile) {
			display: none;
		}
	}

	.swiper-pagination-bullet {
		@include adaptiveValue("width", 20, 14, 992, 768, 1);
		@include adaptiveValue("height", 20, 14, 992, 768, 1);
		@include adaptiveValue("line-height", 20, 14, 992, 768, 1);
		background-color: $color-zenit;
		border: rem(1) solid $white;
	}
	// === SLIDE-ACTIVE === //
	.swiper-slide-active {
		//box-shadow: $shadow-1;
	}
	.swiper-slide-active &__slide-label {
		opacity: 1;
	}
}
