// === PUB MENU SLIDER === //
.pub-menu-slider {
	// === BOX === //
	&__box {
		overflow: hidden;
	}

	// === WRAPPER === //
	&__wrapper {
	}

	// === ITEM === //
	&__item {
		width: auto;
	}

	// === NAVIGATION & PAGINATION === //

	&__navigation {
	}

	&__nav-prev {
	}

	&__nav-next {
	}
	&__pagination {
	}
	.swiper-pagination {
		position: relative;
		@include adaptiveValue("margin-top", 30, 20, 992, 600, 1);
	}

	.swiper-pagination-bullet {
		@include adaptiveValue("width", 20, 14, 992, 600, 1);
		@include adaptiveValue("height", 20, 14, 992, 600, 1);
		@include adaptiveValue("line-height", 20, 14, 992, 600, 1);
		background-color: $color-zenit;
		border: rem(1) solid $white;
	}
	// === SLIDE-ACTIVE === //
	.swiper-slide-active {
		//box-shadow: $shadow-1;
	}
	.swiper-slide-active &__slide-label {
	}
}
