// === PUBLICATION SELECTOR (CONTENT) === // (AD)
.publication-selector {
	// === MENU === //
	&__menu {
	}

	// === BUTTON === //
	&__btn {
		margin-top: rem(20);
		display: inline-flex;
		width: 100%;
		background-color: $white;
		padding: rem(25) rem(35);
		border-radius: 5px;
		min-width: 205px;
		color: $color-zenit;
		border: rem(1) solid $color-zenit;
		text-decoration: none;
		font-weight: 500;
		justify-content: center;
		text-align: center;
		letter-spacing: 1px;
		cursor: pointer;
		text-transform: uppercase;
		white-space: nowrap;
		@media (any-hover: hover) {
			&:hover {
				background-color: $mainColor;
				color: $white;
				transition: all 0.3s ease 0s;
			}
		}
	}

	&__btn-active {
		background-color: $color-zenit;
		color: $white;
	}

	// === LIST === //
	&__list {
		width: 100%;
		column-count: 4;
		margin: auto;
		gap: 20px;
		@media (max-width: 1300px) {
			column-count: 3;
		}
		@media (max-width: 950px) {
			column-count: 2;
		}
		@media (max-width: 640px) {
			column-count: 1;
		}
	}

	// === ITEM === //
	&__item {
		float: left;
		display: block;
		margin-top: 20px;
		page-break-inside: avoid;
		break-inside: avoid;
		position: relative;
		transition: 0.14s linear;
	}
}

.hide {
	visibility: hidden;
	opacity: 0;
	overflow: hidden;
	width: 0;
	height: 0;
}
