// === PERSON STATS CHART === //

.person-stats-chart {
	// === STATS CHART BODY === //
	&__body {
		display: flex;
		@include adaptiveValue("gap", 20, 10, 1600, 991.98, 1);

		//gap: rem(20);
		//align-items: center;
		//justify-content: space-between;
		@media (max-width: $mobile) {
			flex-direction: column;
		}
	}
	// === STATS CHART SPOLLERS === //
	&__spollers {
		display: grid;
		gap: 15px;
	}

	&__spollers-item {
		font-size: rem(18);
	}

	&__spollers-title {
		width: 100%;
		cursor: default;
		text-align: left;
		position: relative;
		@media (max-width: rem(650)) {
			border: 1px solid $white;
			padding: rem(20) rem(15);
			border-radius: rem(3) rem(3) 0px 0px;
		}
		._spoller-init & {
			cursor: pointer;
			&::before,
			&::after {
				content: "";
				position: absolute;
				right: 10px;
				top: 50%;
				background-color: $white;
				height: 2px;
				width: 15px;
				transition: transform 0.5s ease 0s;
			}
			&::before {
				transform: translate(-75%, -50%) rotate(40deg);
			}
			&::after {
				transform: translate(0, -50%) rotate(-40deg);
			}
			&._spoller-active {
				&::before {
					transform: translateX(-75%) rotate(-40deg);
				}
				&::after {
					transform: rotate(40deg);
				}
			}
		}
	}

	&__spollers-body {
		@media (max-width: rem(650)) {
			//position: relative;
			//padding: rem(20) ;
			//padding: 0px 0px 0px 0px;
			//border-radius: rem(3);
			//border: 1px solid $white;
		}
	}
	// === STATS CHART TABLE === //
	&__table {
		position: relative;
		margin-top: rem(40);
		//display: block;
		//max-width: rem(900);
		width: 100%;
		overflow-x: auto;
		//align-self: flex-start;
		//flex: 1 1 auto;
		//margin: 0 auto;
		@media (max-width: $mobile) {
		}
	}
	// === STATS CHART BG-LOGO === //
	&__bg-logo {
		position: absolute;
		@include adaptiveValue("top", 670, 640, 1600, 991.98, 1);
		@include adaptiveValue("right", 200, 100, 1600, 991.98, 1);
		@include adaptiveValue("width", 600, 400, 1600, 991.98, 1);
		@include adaptiveValue("height", 286, 191, 1600, 991.98, 1);
		@media (max-width: $tablet) {
			display: none;
		}
	}
	// === STATS CHART CONTENT === //
	&__content {
		position: relative;
		align-self: flex-start;
		flex: 1 1 auto;
		margin: 0 auto;
		@media (max-width: $mobile) {
			position: relative;
		}
	}
	// === CHARTS === //

	&__list {
		width: 100%;
		display: flex;
		align-items: flex-start;

		@media (max-width: $tablet) {
			flex-direction: column;
		}
		@media (max-width: $mobile) {
			flex-direction: row;
		}
		@media (max-width: rem(520)) {
			flex-direction: column;
		}
	}

	&__item {
		position: relative;
		//padding: 0px 0px 20px 0px;
		//flex: 1 1 rem(200);
		@include adaptiveValue("width", 300, 178, 1600, 991.98, 1);
		@media (max-width: $tablet) {
			@include adaptiveValue("width", 200, 160, 991.98, 767.98, 1);
		}
		@media (max-width: $mobile) {
			@include adaptiveValue("width", 240, 156, 767.98, 520, 1);
		}
		@media (max-width: rem(520)) {
			@include adaptiveValue("width", 470, 270, 520, 320, 1);
		}
	}

	&__info {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -25%);
		color: $white;
		text-align: center;
	}
	&__stats {
		//position: relative;
	}

	&__stats-2pt {
		font-weight: 900;
		@include adaptiveValue("font-size", 40, 24, 1600, 991.98, 1);
		width: 100%;
		@media (max-width: rem(520)) {
			@include adaptiveValue("font-size", 60, 30, 520, 320, 1);
		}
	}
	&__stats-2pt::before {
		content: "2-х";
		@include adaptiveValue("font-size", 18, 11, 1600, 991.98, 1);
		font-weight: 500;
		position: absolute;
		@include adaptiveValue("top", -18, -12, 1600, 991.98, 1);
		left: 0;
		width: 100%;
		@media (max-width: rem(520)) {
			@include adaptiveValue("font-size", 24, 16, 520, 320, 1);
			@include adaptiveValue("top", -20, -16, 520, 320, 1);
		}
	}

	&__stats-2pt::after {
		content: "31/54";
		@include adaptiveValue("font-size", 18, 12, 1600, 991.98, 1);
		font-weight: 500;
		width: 100%;
		position: absolute;
		@include adaptiveValue("bottom", -18, -12, 1600, 991.98, 1);
		left: 0;
		@media (max-width: rem(520)) {
			@include adaptiveValue("font-size", 24, 16, 520, 320, 1);
			@include adaptiveValue("bottom", -20, -16, 520, 320, 1);
		}
	}

	&__stats-3pt {
		font-weight: 900;
		@include adaptiveValue("font-size", 40, 24, 1600, 991.98, 1);
		width: 100%;
		@media (max-width: rem(520)) {
			@include adaptiveValue("font-size", 60, 30, 520, 320, 1);
		}
	}
	&__stats-3pt::before {
		content: "3-х";
		@include adaptiveValue("font-size", 18, 11, 1600, 991.98, 1);
		font-weight: 500;
		position: absolute;
		@include adaptiveValue("top", -18, -12, 1600, 991.98, 1);
		left: 0;
		width: 100%;
		@media (max-width: rem(520)) {
			@include adaptiveValue("font-size", 24, 16, 520, 320, 1);
			@include adaptiveValue("top", -20, -16, 520, 320, 1);
		}
	}
	&__stats-3pt::after {
		content: "31/86";
		@include adaptiveValue("font-size", 18, 12, 1600, 991.98, 1);
		font-weight: 500;
		width: 100%;
		position: absolute;
		@include adaptiveValue("bottom", -18, -12, 1600, 991.98, 1);
		left: 0;
		@media (max-width: rem(520)) {
			@include adaptiveValue("font-size", 24, 16, 520, 320, 1);
			@include adaptiveValue("bottom", -20, -16, 520, 320, 1);
		}
	}

	&__stats-ft {
		font-weight: 900;
		@include adaptiveValue("font-size", 40, 24, 1600, 991.98, 1);
		width: 100%;
		@media (max-width: rem(520)) {
			@include adaptiveValue("font-size", 60, 30, 520, 320, 1);
		}
	}
	&__stats-ft::before {
		content: "штрафные";
		@include adaptiveValue("font-size", 18, 11, 1600, 991.98, 1);
		font-weight: 500;
		position: absolute;
		@include adaptiveValue("top", -18, -12, 1600, 991.98, 1);
		left: 0;
		width: 100%;
		@media (max-width: rem(520)) {
			@include adaptiveValue("font-size", 24, 16, 520, 320, 1);
			@include adaptiveValue("top", -20, -16, 520, 320, 1);
		}
	}
	&__stats-ft::after {
		content: "79/99";
		@include adaptiveValue("font-size", 18, 12, 1600, 991.98, 1);
		font-weight: 500;
		width: 100%;
		position: absolute;
		@include adaptiveValue("bottom", -18, -12, 1600, 991.98, 1);
		left: 0;
		@media (max-width: rem(520)) {
			@include adaptiveValue("font-size", 24, 16, 520, 320, 1);
			@include adaptiveValue("bottom", -20, -16, 520, 320, 1);
		}
	}

	// === STATS CHART IMAGE === //
	&__image {
		position: relative;
		text-align: center;
		@include adaptiveValue("width", 650, 400, 1600, 991.98, 1);
		min-width: rem(400);
		height: auto;
		//box-shadow: $shadow-1;
		overflow: hidden;
		@media (max-width: $tablet) {
			align-self: flex-start;
			width: 100%;
			//@include adaptiveValue("width", 700, 400, 991.98, 600, 1);
			flex: 1, 1, auto;
		}
		@media (max-width: rem(520)) {
			@include adaptiveValue("width", 470, 272, 520, 320, 1);
			min-width: rem(272);
		}
	}

	&__image img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	// === STATS CHART SVG === //
	&__svg {
		position: absolute;
	}

	// === STATS CHART SVG PART === //
	&__part-corner {
		fill: rgb(255, 205, 86);
		opacity: 0.1;
		@media (any-hover: hover) {
			&:hover {
				transition: opacity 0.2s ease;
				fill: $red_l;
				opacity: 0.5;
				cursor: pointer;
			}
		}
	}

	&__part-short-corner {
		fill: rgb(255, 205, 86);
		opacity: 0.2;
		@media (any-hover: hover) {
			&:hover {
				transition: opacity 0.2s ease;
				fill: $red_l;
				opacity: 0.5;
				cursor: pointer;
			}
		}
	}
	&__part-short-wing {
		fill: rgb(255, 205, 86);
		opacity: 0.1;
		@media (any-hover: hover) {
			&:hover {
				transition: opacity 0.2s ease;
				fill: $red_l;
				opacity: 0.5;
				cursor: pointer;
			}
		}
	}
	&__part-3pt-wing {
		fill: rgb(255, 205, 86);
		opacity: 0.2;
		@media (any-hover: hover) {
			&:hover {
				transition: opacity 0.2s ease;
				fill: $red_l;
				opacity: 0.5;
				cursor: pointer;
			}
		}
	}
	&__part-3pt-top {
		fill: rgb(255, 205, 86);
		opacity: 0.1;
		@media (any-hover: hover) {
			&:hover {
				transition: opacity 0.2s ease;
				fill: $red_l;
				opacity: 0.5;
				cursor: pointer;
			}
		}
	}
	&__part-top {
		fill: rgb(255, 205, 86);
		opacity: 0.2;
		@media (any-hover: hover) {
			&:hover {
				transition: opacity 0.2s ease;
				fill: $red_l;
				opacity: 0.5;
				cursor: pointer;
			}
		}
	}
	&__part-paint {
		fill: rgb(255, 205, 86);
		opacity: 0.3;
		@media (any-hover: hover) {
			&:hover {
				transition: opacity 0.2s ease;
				fill: $red_l;
				opacity: 0.5;
				cursor: pointer;
			}
		}
	}
}
// === STATS PERCENT LABEL === //
.paint-shoting-percent {
	display: inline-block;
	position: absolute;
	text-align: center;
	font-weight: 500;
	color: $mainColor;
	@include adaptiveValue("width", 44, 38, 1600, 991.98, 1);
	@include adaptiveValue("top", 110, 60, 1600, 991.98, 1);
	left: 50%;
	transform: translate(-50%, -50%);
	@include adaptiveValue("font-size", 16, 10, 1600, 991.98, 1);
	@media (max-width: $tablet) {
		@include adaptiveValue("width", 50, 42, 991.98, 767.98, 1);
		@include adaptiveValue("top", 140, 80, 991.98, 767.98, 1);
		@include adaptiveValue("font-size", 20, 12, 991.98, 767.98, 1);
	}
	@media (max-width: $mobile) {
		@include adaptiveValue("width", 52, 30, 767.98, 360, 1);
		@include adaptiveValue("top", 150, 40, 767.98, 360, 1);
		@include adaptiveValue("font-size", 18, 8, 767.98, 360, 1);
	}
}
.paint-shoting-percent::after {
	content: "62/114";
	position: absolute;
	font-weight: 500;
	text-align: center;
	left: 0;
	@include adaptiveValue("bottom", -18, -12, 1600, 991.98, 1);
	@include adaptiveValue("width", 44, 38, 1600, 991.98, 1);
	@include adaptiveValue("font-size", 14, 10, 1600, 991.98, 1);

	@media (max-width: $tablet) {
		@include adaptiveValue("bottom", -18, -12, 991.98, 767.98, 1);
		@include adaptiveValue("width", 50, 42, 991.98, 767.98, 1);
		@include adaptiveValue("font-size", 20, 12, 991.98, 767.98, 1);
	}
	@media (max-width: $mobile) {
		@include adaptiveValue("bottom", -18, -12, 767.98, 360, 1);
		@include adaptiveValue("width", 52, 30, 767.98, 360, 1);
		@include adaptiveValue("font-size", 18, 8, 767.98, 360, 1);
	}
	//opacity: 01;
}

.top-shoting-percent {
	display: inline-block;
	position: absolute;
	text-align: center;
	font-weight: 500;
	color: $mainColor;
	@include adaptiveValue("width", 44, 38, 1600, 991.98, 1);
	@include adaptiveValue("top", 290, 180, 1600, 991.98, 1);
	left: 50%;
	transform: translate(-50%, -50%);
	@include adaptiveValue("font-size", 16, 10, 1600, 991.98, 1);
	@media (max-width: $tablet) {
		@include adaptiveValue("width", 50, 42, 991.98, 767.98, 1);
		@include adaptiveValue("top", 330, 240, 991.98, 767.98, 1);
		@include adaptiveValue("font-size", 20, 12, 991.98, 767.98, 1);
	}
	@media (max-width: $mobile) {
		@include adaptiveValue("width", 52, 30, 767.98, 360, 1);
		@include adaptiveValue("top", 330, 130, 767.98, 360, 1);
		@include adaptiveValue("font-size", 18, 8, 767.98, 360, 1);
	}
}
.top-shoting-percent::after {
	content: "31/56";
	position: absolute;
	font-weight: 500;
	text-align: center;
	left: 0;
	@include adaptiveValue("bottom", -18, -12, 1600, 991.98, 1);
	@include adaptiveValue("width", 44, 38, 1600, 991.98, 1);
	@include adaptiveValue("font-size", 14, 10, 1600, 991.98, 1);

	@media (max-width: $tablet) {
		@include adaptiveValue("bottom", -18, -12, 991.98, 767.98, 1);
		@include adaptiveValue("width", 50, 42, 991.98, 767.98, 1);
		@include adaptiveValue("font-size", 20, 12, 991.98, 767.98, 1);
	}
	@media (max-width: $mobile) {
		@include adaptiveValue("bottom", -18, -12, 767.98, 360, 1);
		@include adaptiveValue("width", 52, 30, 767.98, 360, 1);
		@include adaptiveValue("font-size", 18, 8, 767.98, 360, 1);
	}
	//opacity: 0;
}

.t-top-shoting-percent {
	display: inline-block;
	position: absolute;
	text-align: center;
	font-weight: 500;
	color: $mainColor;
	@include adaptiveValue("width", 44, 38, 1600, 991.98, 1);
	@include adaptiveValue("top", 420, 260, 1600, 991.98, 1);
	left: 50%;
	transform: translate(-50%, -50%);
	@include adaptiveValue("font-size", 16, 10, 1600, 991.98, 1);
	@media (max-width: $tablet) {
		@include adaptiveValue("width", 50, 42, 991.98, 767.98, 1);
		@include adaptiveValue("top", 480, 350, 991.98, 767.98, 1);
		@include adaptiveValue("font-size", 20, 12, 991.98, 767.98, 1);
	}
	@media (max-width: $mobile) {
		@include adaptiveValue("width", 52, 30, 767.98, 360, 1);
		@include adaptiveValue("top", 490, 200, 767.98, 360, 1);
		@include adaptiveValue("font-size", 18, 8, 767.98, 360, 1);
	}
}
.t-top-shoting-percent::after {
	content: "11/32";
	position: absolute;
	font-weight: 500;
	text-align: center;
	left: 0;
	@include adaptiveValue("bottom", -18, -12, 1600, 991.98, 1);
	@include adaptiveValue("width", 44, 38, 1600, 991.98, 1);
	@include adaptiveValue("font-size", 14, 10, 1600, 991.98, 1);

	@media (max-width: $tablet) {
		@include adaptiveValue("bottom", -18, -12, 991.98, 767.98, 1);
		@include adaptiveValue("width", 50, 42, 991.98, 767.98, 1);
		@include adaptiveValue("font-size", 20, 12, 991.98, 767.98, 1);
	}
	@media (max-width: $mobile) {
		@include adaptiveValue("bottom", -18, -12, 767.98, 360, 1);
		@include adaptiveValue("width", 52, 30, 767.98, 360, 1);
		@include adaptiveValue("font-size", 18, 8, 767.98, 360, 1);
	}
	//opacity: 0;
}

.t-wing-l-shoting-percent {
	display: inline-block;
	position: absolute;
	text-align: center;
	font-weight: 500;
	color: $mainColor;
	@include adaptiveValue("width", 44, 38, 1600, 991.98, 1);
	@include adaptiveValue("top", 250, 170, 1600, 991.98, 1);
	@include adaptiveValue("left", 30, 20, 1600, 991.98, 1);
	@include adaptiveValue("font-size", 16, 10, 1600, 991.98, 1);
	@media (max-width: $tablet) {
		@include adaptiveValue("width", 50, 42, 991.98, 767.98, 1);
		@include adaptiveValue("top", 290, 210, 991.98, 767.98, 1);
		@include adaptiveValue("left", 35, 25, 991.98, 767.98, 1);
		@include adaptiveValue("font-size", 20, 12, 991.98, 767.98, 1);
	}
	@media (max-width: $mobile) {
		@include adaptiveValue("width", 52, 30, 767.98, 360, 1);
		@include adaptiveValue("top", 300, 130, 767.98, 360, 1);
		@include adaptiveValue("left", 40, 15, 767.98, 360, 1);
		@include adaptiveValue("font-size", 18, 8, 767.98, 360, 1);
	}
}
.t-wing-l-shoting-percent::after {
	content: "9/23";
	position: absolute;
	font-weight: 500;
	text-align: center;
	left: 0;
	@include adaptiveValue("bottom", -18, -12, 1600, 991.98, 1);
	@include adaptiveValue("width", 44, 38, 1600, 991.98, 1);
	@include adaptiveValue("font-size", 14, 10, 1600, 991.98, 1);

	@media (max-width: $tablet) {
		@include adaptiveValue("bottom", -18, -12, 991.98, 767.98, 1);
		@include adaptiveValue("width", 50, 42, 991.98, 767.98, 1);
		@include adaptiveValue("font-size", 20, 12, 991.98, 767.98, 1);
	}
	@media (max-width: $mobile) {
		@include adaptiveValue("bottom", -18, -12, 767.98, 360, 1);
		@include adaptiveValue("width", 52, 30, 767.98, 360, 1);
		@include adaptiveValue("font-size", 18, 8, 767.98, 360, 1);
	}
	//opacity: 0;
}

.t-wing-r-shoting-percent {
	display: inline-block;
	position: absolute;
	text-align: center;
	font-weight: 500;
	color: $mainColor;
	@include adaptiveValue("width", 44, 38, 1600, 991.98, 1);
	@include adaptiveValue("top", 250, 170, 1600, 991.98, 1);
	@include adaptiveValue("right", 30, 20, 1600, 991.98, 1);
	@include adaptiveValue("font-size", 16, 10, 1600, 991.98, 1);
	@media (max-width: $tablet) {
		@include adaptiveValue("width", 50, 42, 991.98, 767.98, 1);
		@include adaptiveValue("top", 290, 210, 991.98, 767.98, 1);
		@include adaptiveValue("right", 35, 25, 991.98, 767.98, 1);
		@include adaptiveValue("font-size", 20, 12, 991.98, 767.98, 1);
	}
	@media (max-width: $mobile) {
		@include adaptiveValue("width", 52, 30, 767.98, 360, 1);
		@include adaptiveValue("top", 300, 130, 767.98, 360, 1);
		@include adaptiveValue("right", 40, 15, 767.98, 360, 1);
		@include adaptiveValue("font-size", 18, 8, 767.98, 360, 1);
	}
}
.t-wing-r-shoting-percent::after {
	content: "16/40";
	position: absolute;
	font-weight: 500;
	text-align: center;
	left: 0;
	@include adaptiveValue("bottom", -18, -12, 1600, 991.98, 1);
	@include adaptiveValue("width", 44, 38, 1600, 991.98, 1);
	@include adaptiveValue("font-size", 14, 10, 1600, 991.98, 1);

	@media (max-width: $tablet) {
		@include adaptiveValue("bottom", -18, -12, 991.98, 767.98, 1);
		@include adaptiveValue("width", 50, 42, 991.98, 767.98, 1);
		@include adaptiveValue("font-size", 20, 12, 991.98, 767.98, 1);
	}
	@media (max-width: $mobile) {
		@include adaptiveValue("bottom", -18, -12, 767.98, 360, 1);
		@include adaptiveValue("width", 52, 30, 767.98, 360, 1);
		@include adaptiveValue("font-size", 18, 8, 767.98, 360, 1);
	}
	//opacity: 0;
}

.wing-l-shoting-percent {
	display: inline-block;
	position: absolute;
	text-align: center;
	font-weight: 500;
	color: $mainColor;
	@include adaptiveValue("width", 44, 38, 1600, 991.98, 1);
	@include adaptiveValue("top", 190, 125, 1600, 991.98, 1);
	@include adaptiveValue("left", 130, 80, 1600, 991.98, 1);
	@include adaptiveValue("font-size", 16, 10, 1600, 991.98, 1);
	@media (max-width: $tablet) {
		@include adaptiveValue("width", 50, 42, 991.98, 767.98, 1);
		@include adaptiveValue("top", 220, 170, 991.98, 767.98, 1);
		@include adaptiveValue("left", 140, 100, 991.98, 767.98, 1);
		@include adaptiveValue("font-size", 20, 12, 991.98, 767.98, 1);
	}
	@media (max-width: $mobile) {
		@include adaptiveValue("width", 52, 30, 767.98, 360, 1);
		@include adaptiveValue("top", 230, 90, 767.98, 360, 1);
		@include adaptiveValue("left", 150, 55, 767.98, 360, 1);
		@include adaptiveValue("font-size", 18, 8, 767.98, 360, 1);
	}
}
.wing-l-shoting-percent::after {
	content: "19/31";
	position: absolute;
	font-weight: 500;
	text-align: center;
	left: 0;
	@include adaptiveValue("bottom", -18, -12, 1600, 991.98, 1);
	@include adaptiveValue("width", 44, 38, 1600, 991.98, 1);
	@include adaptiveValue("font-size", 14, 10, 1600, 991.98, 1);

	@media (max-width: $tablet) {
		@include adaptiveValue("bottom", -18, -12, 991.98, 767.98, 1);
		@include adaptiveValue("width", 50, 42, 991.98, 767.98, 1);
		@include adaptiveValue("font-size", 20, 12, 991.98, 767.98, 1);
	}
	@media (max-width: $mobile) {
		@include adaptiveValue("bottom", -18, -12, 767.98, 360, 1);
		@include adaptiveValue("width", 52, 30, 767.98, 360, 1);
		@include adaptiveValue("font-size", 18, 8, 767.98, 360, 1);
	}
	//opacity: 0;
}

.wing-r-shoting-percent {
	display: inline-block;
	position: absolute;
	text-align: center;
	font-weight: 500;
	color: $mainColor;
	@include adaptiveValue("width", 44, 38, 1600, 991.98, 1);
	@include adaptiveValue("top", 190, 125, 1600, 991.98, 1);
	@include adaptiveValue("right", 130, 80, 1600, 991.98, 1);
	@include adaptiveValue("font-size", 16, 10, 1600, 991.98, 1);
	@media (max-width: $tablet) {
		@include adaptiveValue("width", 50, 42, 991.98, 767.98, 1);
		@include adaptiveValue("top", 220, 170, 991.98, 767.98, 1);
		@include adaptiveValue("right", 140, 100, 991.98, 767.98, 1);
		@include adaptiveValue("font-size", 20, 12, 991.98, 767.98, 1);
	}
	@media (max-width: $mobile) {
		@include adaptiveValue("width", 52, 30, 767.98, 360, 1);
		@include adaptiveValue("top", 230, 90, 767.98, 360, 1);
		@include adaptiveValue("right", 150, 55, 767.98, 360, 1);
		@include adaptiveValue("font-size", 18, 8, 767.98, 360, 1);
	}
}
.wing-r-shoting-percent::after {
	content: "26/58";
	position: absolute;
	font-weight: 500;
	text-align: center;
	left: 0;
	@include adaptiveValue("bottom", -18, -12, 1600, 991.98, 1);
	@include adaptiveValue("width", 44, 38, 1600, 991.98, 1);
	@include adaptiveValue("font-size", 14, 10, 1600, 991.98, 1);

	@media (max-width: $tablet) {
		@include adaptiveValue("bottom", -18, -12, 991.98, 767.98, 1);
		@include adaptiveValue("width", 50, 42, 991.98, 767.98, 1);
		@include adaptiveValue("font-size", 20, 12, 991.98, 767.98, 1);
	}
	@media (max-width: $mobile) {
		@include adaptiveValue("bottom", -18, -12, 767.98, 360, 1);
		@include adaptiveValue("width", 52, 30, 767.98, 360, 1);
		@include adaptiveValue("font-size", 18, 8, 767.98, 360, 1);
	}
	//opacity: 0;
}

.s-corner-r-shoting-percent {
	display: inline-block;
	position: absolute;
	text-align: center;
	font-weight: 500;
	color: $mainColor;
	@include adaptiveValue("width", 44, 38, 1600, 991.98, 1);
	@include adaptiveValue("top", 60, 30, 1600, 991.98, 1);
	@include adaptiveValue("right", 110, 70, 1600, 991.98, 1);
	@include adaptiveValue("font-size", 16, 10, 1600, 991.98, 1);
	@media (max-width: $tablet) {
		@include adaptiveValue("width", 50, 42, 991.98, 767.98, 1);
		@include adaptiveValue("top", 60, 30, 991.98, 767.98, 1);
		@include adaptiveValue("right", 120, 90, 991.98, 767.98, 1);
		@include adaptiveValue("font-size", 20, 12, 991.98, 767.98, 1);
	}
	@media (max-width: $mobile) {
		@include adaptiveValue("width", 52, 30, 767.98, 360, 1);
		@include adaptiveValue("top", 60, 25, 767.98, 360, 1);
		@include adaptiveValue("right", 110, 40, 767.98, 360, 1);
		@include adaptiveValue("font-size", 18, 8, 767.98, 360, 1);
	}
}
.s-corner-r-shoting-percent::after {
	content: "24/49";
	position: absolute;
	font-weight: 500;
	text-align: center;
	left: 0;
	@include adaptiveValue("bottom", -18, -12, 1600, 991.98, 1);
	@include adaptiveValue("width", 44, 38, 1600, 991.98, 1);
	@include adaptiveValue("font-size", 14, 10, 1600, 991.98, 1);

	@media (max-width: $tablet) {
		@include adaptiveValue("bottom", -18, -12, 991.98, 767.98, 1);
		@include adaptiveValue("width", 50, 42, 991.98, 767.98, 1);
		@include adaptiveValue("font-size", 20, 12, 991.98, 767.98, 1);
	}
	@media (max-width: $mobile) {
		@include adaptiveValue("bottom", -18, -12, 767.98, 360, 1);
		@include adaptiveValue("width", 52, 30, 767.98, 360, 1);
		@include adaptiveValue("font-size", 18, 8, 767.98, 360, 1);
	}
	//opacity: 0;
}

.s-corner-l-shoting-percent {
	display: inline-block;
	position: absolute;
	text-align: center;
	font-weight: 500;
	color: $mainColor;
	@include adaptiveValue("width", 44, 38, 1600, 991.98, 1);
	@include adaptiveValue("top", 60, 30, 1600, 991.98, 1);
	@include adaptiveValue("left", 110, 70, 1600, 991.98, 1);
	@include adaptiveValue("font-size", 16, 10, 1600, 991.98, 1);
	@media (max-width: $tablet) {
		@include adaptiveValue("width", 50, 42, 991.98, 767.98, 1);
		@include adaptiveValue("top", 60, 30, 991.98, 767.98, 1);
		@include adaptiveValue("left", 120, 90, 991.98, 767.98, 1);
		@include adaptiveValue("font-size", 20, 12, 991.98, 767.98, 1);
	}
	@media (max-width: $mobile) {
		@include adaptiveValue("width", 52, 30, 767.98, 360, 1);
		@include adaptiveValue("top", 60, 25, 767.98, 360, 1);
		@include adaptiveValue("left", 110, 40, 767.98, 360, 1);
		@include adaptiveValue("font-size", 18, 8, 767.98, 360, 1);
	}
}
.s-corner-l-shoting-percent::after {
	content: "24/49";
	position: absolute;
	font-weight: 500;
	text-align: center;
	left: 0;
	@include adaptiveValue("bottom", -18, -12, 1600, 991.98, 1);
	@include adaptiveValue("width", 44, 38, 1600, 991.98, 1);
	@include adaptiveValue("font-size", 14, 10, 1600, 991.98, 1);

	@media (max-width: $tablet) {
		@include adaptiveValue("bottom", -18, -12, 991.98, 767.98, 1);
		@include adaptiveValue("width", 50, 42, 991.98, 767.98, 1);
		@include adaptiveValue("font-size", 20, 12, 991.98, 767.98, 1);
	}
	@media (max-width: $mobile) {
		@include adaptiveValue("bottom", -18, -12, 767.98, 360, 1);
		@include adaptiveValue("width", 52, 30, 767.98, 360, 1);
		@include adaptiveValue("font-size", 18, 8, 767.98, 360, 1);
	}
	//opacity: 0;
}

.corner-l-shoting-percent {
	display: inline-block;
	position: absolute;
	text-align: center;
	font-weight: 500;
	color: $mainColor;
	@include adaptiveValue("width", 44, 38, 1600, 991.98, 1);
	@include adaptiveValue("top", 80, 40, 1600, 991.98, 1);
	@include adaptiveValue("left", 8, 0, 1600, 991.98, 1);
	@include adaptiveValue("font-size", 16, 10, 1600, 991.98, 1);
	@media (max-width: $tablet) {
		@include adaptiveValue("width", 50, 42, 991.98, 767.98, 1);
		@include adaptiveValue("top", 80, 40, 991.98, 767.98, 1);
		@include adaptiveValue("left", 12, 6, 991.98, 767.98, 1);
		@include adaptiveValue("font-size", 20, 12, 991.98, 767.98, 1);
	}
	@media (max-width: $mobile) {
		@include adaptiveValue("width", 52, 30, 767.98, 360, 1);
		@include adaptiveValue("top", 80, 30, 767.98, 360, 1);
		@include adaptiveValue("left", 9, 0, 767.98, 360, 1);
		@include adaptiveValue("font-size", 18, 8, 767.98, 360, 1);
	}
}
.corner-l-shoting-percent::after {
	content: "4/28";
	position: absolute;
	font-weight: 500;
	text-align: center;
	left: 0;
	@include adaptiveValue("bottom", -18, -12, 1600, 991.98, 1);
	@include adaptiveValue("width", 44, 38, 1600, 991.98, 1);
	@include adaptiveValue("font-size", 14, 10, 1600, 991.98, 1);

	@media (max-width: $tablet) {
		@include adaptiveValue("bottom", -18, -12, 991.98, 767.98, 1);
		@include adaptiveValue("width", 50, 42, 991.98, 767.98, 1);
		@include adaptiveValue("font-size", 20, 12, 991.98, 767.98, 1);
	}
	@media (max-width: $mobile) {
		@include adaptiveValue("bottom", -18, -12, 767.98, 360, 1);
		@include adaptiveValue("width", 52, 30, 767.98, 360, 1);
		@include adaptiveValue("font-size", 18, 8, 767.98, 360, 1);
	}
	//opacity: 0;
}

.corner-r-shoting-percent {
	display: inline-block;
	position: absolute;
	text-align: center;
	font-weight: 500;
	color: $mainColor;
	@include adaptiveValue("width", 44, 38, 1600, 991.98, 1);
	@include adaptiveValue("top", 80, 40, 1600, 991.98, 1);
	@include adaptiveValue("right", 8, 0, 1600, 991.98, 1);
	@include adaptiveValue("font-size", 16, 10, 1600, 991.98, 1);
	@media (max-width: $tablet) {
		@include adaptiveValue("width", 50, 42, 991.98, 767.98, 1);
		@include adaptiveValue("top", 80, 40, 991.98, 767.98, 1);
		@include adaptiveValue("right", 12, 6, 991.98, 767.98, 1);
		@include adaptiveValue("font-size", 20, 12, 991.98, 767.98, 1);
	}
	@media (max-width: $mobile) {
		@include adaptiveValue("width", 52, 30, 767.98, 360, 1);
		@include adaptiveValue("top", 80, 30, 767.98, 360, 1);
		@include adaptiveValue("right", 9, 0, 767.98, 360, 1);
		@include adaptiveValue("font-size", 18, 8, 767.98, 360, 1);
	}
}
.corner-r-shoting-percent::after {
	content: "11/27";
	position: absolute;
	font-weight: 500;
	text-align: center;
	left: 0;
	@include adaptiveValue("bottom", -18, -12, 1600, 991.98, 1);
	@include adaptiveValue("width", 44, 38, 1600, 991.98, 1);
	@include adaptiveValue("font-size", 14, 10, 1600, 991.98, 1);

	@media (max-width: $tablet) {
		@include adaptiveValue("bottom", -18, -12, 991.98, 767.98, 1);
		@include adaptiveValue("width", 50, 42, 991.98, 767.98, 1);
		@include adaptiveValue("font-size", 20, 12, 991.98, 767.98, 1);
	}
	@media (max-width: $mobile) {
		@include adaptiveValue("bottom", -18, -12, 767.98, 360, 1);
		@include adaptiveValue("width", 52, 30, 767.98, 360, 1);
		@include adaptiveValue("font-size", 18, 8, 767.98, 360, 1);
	}
	//opacity: 0;
}
