// === TAB ZENIT === //

.tab {
	// === TAB BLOCK === //
	&__block {
	}

	// === TAB NAV === //
	&__nav {
		display: flex;
		gap: rem(20);
		@media (max-width: rem(960)) {
			margin-right: rem(30);
		}
	}
	// === TAB TITLE === //
	&__title {
		margin-top: rem(20);
		display: inline-flex;
		background-color: $white;
		padding: 25px 35px;
		border-radius: 3px;
		min-width: 205px;
		color: $color-zenit;
		border: rem(1) solid $color-zenit;
		text-decoration: none;
		font-weight: 500;
		justify-content: center;
		text-align: center;
		letter-spacing: 1px;
		cursor: pointer;
		text-transform: uppercase;
		white-space: nowrap;
		@media (max-width: rem(960)) {
			width: 100%;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: $mainColor;
				color: $white;
				transition: all 0.3s ease 0s;
			}
		}
	}

	&__title-w {
		background-color: $color-zenit;
		border-radius: 3px;
		min-width: 205px;
		color: $white;
		border: rem(1) solid $white;
		text-decoration: none;
		font-weight: 500;
		justify-content: center;
		text-align: center;
		letter-spacing: 1px;
		cursor: pointer;
		text-transform: uppercase;
		white-space: nowrap;
		@media (max-width: rem(960)) {
			width: 100%;
			margin-top: rem(20);
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: $mainColor;
				color: $white;
				transition: all 0.3s ease 0s;
			}
		}
	}

	&__title-w-1 {
		background-color: $color-zenit;
		border-radius: 3px;
		min-width: 205px;
		color: $white;
		border: rem(1) solid $white;
		text-decoration: none;
		font-weight: 500;
		justify-content: center;
		text-align: center;
		letter-spacing: 1px;
		cursor: pointer;
		text-transform: uppercase;
		white-space: nowrap;
		@media (max-width: rem(1160)) {
			width: 100%;
			margin-top: rem(20);
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: $mainColor;
				color: $white;
				transition: all 0.3s ease 0s;
			}
		}
	}
	// === TAB LINK === //
	&__link {
		display: block;
		line-height: 60px;
		padding: 0px 50px;
		font-size: 16px;
		font-weight: 500;
		text-transform: uppercase;
		color: $mainColor;
		//white-space: nowrap;
		@media (max-width: 960px) {
			width: 100%;
			//border: 1px solid $color-zenit;
			margin-bottom: 10px;
		}
	}
	&__link:hover {
		background-color: $mainColor;
		color: $white;
		transition: all 0.3s ease 0s;
	}

	&__link-w {
		display: block;
		background-color: $color-zenit;
		padding: 25px 35px;
		border-radius: rem(3);
		min-width: 205px;
		color: $white;
		border: rem(1) solid $white;
		text-decoration: none;
		font-weight: 500;
		justify-content: center;
		text-align: center;
		letter-spacing: 1px;
		cursor: pointer;
		text-transform: uppercase;
		white-space: nowrap;
		@media (max-width: rem(960)) {
			width: 100%;
			//margin-bottom: 10px;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: $mainColor;
				color: $white;
				transition: all 0.3s ease 0s;
			}
		}
	}

	&__link-w-1 {
		display: block;
		background-color: $color-zenit;
		padding: 25px 35px;
		border-radius: rem(3);
		min-width: 205px;
		color: $white;
		border: rem(1) solid $white;
		text-decoration: none;
		font-weight: 500;
		justify-content: center;
		text-align: center;
		letter-spacing: 1px;
		cursor: pointer;
		text-transform: uppercase;
		white-space: nowrap;
		@media (max-width: rem(1160)) {
			width: 100%;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: $mainColor;
				color: $white;
				transition: all 0.3s ease 0s;
			}
		}
	}

	// === TAB CONTENT === //
	&__content {
	}

	// === TAB BODY === //
	&__body {
		padding: 20px 0px 0px 0px;
	}
}

// === TAB ACTIVE === //
._tab-active {
	background-color: $color-zenit;
	color: $white;
}
._tab-active a {
	background-color: $white;
	color: $color-zenit;
}

.active.tab__link-w {
	background-color: $white;
	color: $mainColor;
	color: $color-zenit;
	transition: all 0.3s ease 0s;
}
.active.tab__link-w-1 {
	background-color: $white;
	color: $mainColor;
	color: $color-zenit;
	transition: all 0.3s ease 0s;
}
