// === TIMER NEXT GAME === // (AD)

.time-count {
	color: $mainColor;
	//position: absolute;
	//top: 0;
	//left: 0;
	//right: calc(50% - 197.5px);
	//width: rem(395);
	//width: auto;
	//border: rem(1) solid $white;
	border-radius: rem(3);
	//background-color: $mainColor;
	padding: rem(20);

	@media (max-width: rem(1090)) {
		//width: rem(334);
		//right: calc(50% - 167px);
	}
	@media (max-width: $tablet) {
		//right: 0;
	}
	@media (max-width: rem(680)) {
		//position: relative;
		//width: 100%;
		//top: 0;
		//margin-bottom: rem(20);
	}
}

.time-count__title {
	margin: 0;
	width: 100%;
	letter-spacing: rem(1.5);
	font-weight: 900;
	font-size: rem(20);
	line-height: rem(36);
	text-align: center;
	text-transform: uppercase;
	text-align: center;
	//color: $white;
	@media (max-width: rem(420)) {
		font-size: rem(12);
		line-height: rem(24);
	}
}

.time-count__content {
	display: flex;
	justify-content: center;
}

.time-count__item {
	text-align: center;
}

.time-count__val {
	min-width: 50px;
	font-weight: 700;
	font-size: 32px;
	line-height: 36px;
	//color: $white;
	@media (max-width: rem(420)) {
		min-width: rem(40);
		font-size: rem(20);
		line-height: rem(24);
	}
}

.time-count__separator {
	font-weight: 700;
	font-size: 32px;
	line-height: 36px;
	text-align: center;
	//color: $white;
	margin: 0 rem(10);
	@media (max-width: rem(420)) {
		font-size: rem(20);
		line-height: rem(24);
	}
}

.time-count__text {
	//font-family: "Noto Sans", sans-serif;
	display: block;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	//color: $white;
	min-width: rem(57);
	@media (max-width: rem(420)) {
		font-size: rem(10);
		line-height: rem(18);
	}
}
